<ion-content>
  <ion-header class="title-products">
    COMPRA FÁCIL
    <ion-toolbar>
      <ion-title>Detalles del producto</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="product-list-container detail-container">
    <div class="product-detail-title">
      {{Product.name}}
    </div>

    <ion-grid>
      <ion-row>
        <ion-col>
          <img *ngFor="let image of Product.images" src="{{image.src}}" class="image-detail">
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="information-container">
          <p>Precio: ${{Product.price}}</p>
          <p style="text-align: center;"><b>Descripción</b></p>
          <div [innerHTML]="Product.short_description"></div>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>
</ion-content>
<div class="footer-container">
  <div class="go-back" [routerLink]="['/home']">
    Volver al listado
  </div>
</div>