<ion-content [scrollEvents]="true" 
(ionScroll)="logScrolling($event)">
  <ion-button (click)="toggleInfiniteScroll()" expand="block">
    Toggle Infinite Scroll
  </ion-button>
  <ion-list class="ios list-ios hydrated">
    <ion-list-header class="ios hydrated">
      Product List
    </ion-list-header>
  </ion-list>

  <ion-item *ngFor="let product of Products" class="item-label item ios in-list ion-focusable hydrated">
    <ion-label id="{{product.id}}" [routerLink]="['/product-detail/', product.id]"
      class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
      <h2>{{product.name}}</h2>
      <img src="{{product.images[0].src}}" alt="">
      <div [innerHTML]="product.short_description"></div>
    </ion-label>
  </ion-item>

  <!-- fab placed to the bottom start -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="/add-product">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>